<?xml version="1.0"?>
<launch>
 <!-- Publish base_link transfrom to support visualization of the trajectories -->
 <node pkg="tf" type="static_transform_publisher" name="base_link_transform" args="0.0 0.0 0.0 0.0 0.0 0.0 odom base_link 50"/>
 <include file="$(find ros_dmp)/launch/dmp.launch"/>
</launch>
